/*-------------------------------------------
共通クラス（例）
-------------------------------------------*/
@use 'setting' as s;

body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.5;
    color: s.$colorBlack;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*-------------------------------------------
共通のパーツ（例）
-------------------------------------------*/
/*セクションのタイトル*/
.u-sectionTitle {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.08em;
    position: relative;
    color: s.$colorBlue;

    @include s.mq('sp') {
        font-size: 32px;
    }
}

/*セクションのインナー*/
.inner {
    @include s.innerWidth;
    margin: 0 auto;
}