@use 'setting' as s;

.header__hamburger {
    display: none;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: s.$headerHeight;
    background-color: transparent;
    /*透明*/
    padding: 0 30px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.header__logo a {
    display: flex;
    align-items: center;

    height: s.$headerHeight;
}

.header__nav-list {
    display: flex;
    gap: 36px;
    font-weight: bold;
}

.header__nav-item a:hover {
    opacity: 0.5;
    transition: 0.4s ease;
}

.header__drawer {
    display: none;
}

// SP用 //
@include s.mq(sp) {
    .header {
        height: s.$headerHeight--sp;
        background-color: #fff;
        padding: 0 30px;
    }

    .header__inner {
        width: 100%;
        margin: 0;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }

    .header__logo a {
        width: 70px;
        height: auto;
    }

    .header__nav {
        display: none;
    }

    .header__drawer {
        display: block;

        position: fixed;
        top: s.$headerHeight--sp;
        right: 0;
        width: 100%;
        bottom: 0;

        background: url(../image/overlay.png) no-repeat center/cover;

        transform: translateX(100%); // 右に隠しておく //
        transition: all 0.5s;
    }

    .header__drawer.is-open {
        display: block;
        transform: translateX(0);
    }

    .header__hamburger {
        display: block;
        width: 45px;
        height: 26px;
        position: relative;
        z-index: 1100;
    }

    .header__hamburger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: s.$colorBlue;
        transition: 0.4s;
    }

    .header__hamburger span:nth-child(1) {
        top: 0;
    }

    .header__hamburger span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .header__hamburger span:nth-child(3) {
        bottom: 0;
    }

    .header__hamburger.is-open span:nth-child(1) {
        transform: rotate(-45deg);
        top: 50%;
    }

    .header__hamburger.is-open span:nth-child(2) {
        opacity: 0;
    }

    .header__hamburger.is-open span:nth-child(3) {
        transform: rotate(45deg);
        top: 50%;
    }

    .drawer__list {
        color: s.$colorBlue;
        font-weight: bold;
        font-size: 16px;
        margin: 80px 60px 40px;

        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .drawer__sns {
        margin-left: 40px;
    }

    .drawer__sns img {
        width: 30px;
        margin-left: 20px;
    }

}
